Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist

feat(pwa): enable PWA installation functionality
  index.html
  public/manifest.webmanifest
  src/main.tsx
Owners: @owner, @security-reviewer

feat(ui): enhance glassmorphism effects with aurora background
  src/App.tsx
  src/components/NavBar.tsx
  src/styles/aurora.css
  src/styles/base.css
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): enhance glassmorphism effects with aurora background
  src/App.tsx
  src/components/NavBar.tsx
  src/styles/aurora.css
  src/styles/base.css
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): complete glassmorphism dark-glass theme with mobile optimization
  src/components/NavBar.tsx
  src/components/settings/SettingsCard.tsx
  src/components/settings/SimpleThemeToggle.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/components/ui/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/main.tsx
  src/styles/base.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/styles/theme.css
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui): complete glassmorphism dark-glass theme with mobile optimization
  src/components/NavBar.tsx
  src/components/settings/SettingsCard.tsx
  src/components/settings/SimpleThemeToggle.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/components/ui/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/main.tsx
  src/styles/base.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/styles/theme.css
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

refactor(ui): remove childish icons and improve professional appearance
  src/components/ui/ThemeToggle.tsx
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

refactor(ui): remove childish icons and improve professional appearance
  src/components/ui/ThemeToggle.tsx
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): implement professional single-theme glassmorphism system
  src/components/settings/SimpleThemeToggle.tsx
  src/components/ui/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/main.tsx
  src/styles/design-tokens.css
  src/styles/theme.css
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): implement professional single-theme glassmorphism system
  src/components/settings/SimpleThemeToggle.tsx
  src/components/ui/ThemeToggle.tsx
  src/hooks/useTheme.ts
  src/main.tsx
  src/styles/design-tokens.css
  src/styles/theme.css
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): implement professional glassmorphism design without emoji symbols
  src/components/NavBar.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/CommandPalette.tsx
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/views/ModelPickerView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): implement professional glassmorphism design without emoji symbols
  src/components/NavBar.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/CommandPalette.tsx
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/views/ModelPickerView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): implement futuristic AI design with holographic elements
  src/components/ui/HolographicOrb.tsx
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/theme.css
Owners: @owner, @ux-reviewer

feat(ui): implement futuristic AI design with holographic elements
  src/components/ui/HolographicOrb.tsx
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/theme.css
Owners: @owner, @ux-reviewer

fix(e2e): resolve navigation overlap issue preventing button clicks
  src/main.tsx
  src/ui/overlap-guard.ts
Owners: @owner

fix(e2e): resolve navigation overlap issue preventing button clicks
  src/main.tsx
  src/ui/overlap-guard.ts
Owners: @owner

docs: update README with futuristic AI design system
  README.md
Owners: @owner, @docs-reviewer

docs: update README with futuristic AI design system
  README.md
Owners: @owner, @docs-reviewer

refactor(cleanup): remove dead code and improve types
  src/components/Card.tsx
  src/components/Input.tsx
  src/components/Select.tsx
  src/components/ui/Card.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/Diagnostics.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

refactor(cleanup): remove dead code and improve types
  src/components/Card.tsx
  src/components/Input.tsx
  src/components/Select.tsx
  src/components/ui/Card.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/Diagnostics.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

refactor(ui): align chat shell and clean legacy ui
  src/components/chat/Avatar.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/ChatContainer.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/chat/Toolbar.tsx
  src/components/chat/TypingIndicator.tsx
  src/components/glass/GlassTabs.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassCard.tsx
  src/main.tsx
  src/styles/brand.css
  src/styles/chat.css
  src/styles/globals.css
  src/ui2/ChatApp.tsx
  src/ui2/data/roles.ts
  src/ui2/data/styles.ts
  src/views/ModelPickerView.tsx
Owners: @owner, @ux-reviewer

refactor(ui): align chat shell and clean legacy ui
  src/components/chat/Avatar.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/ChatContainer.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/chat/Toolbar.tsx
  src/components/chat/TypingIndicator.tsx
  src/components/glass/GlassTabs.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassCard.tsx
  src/main.tsx
  src/styles/brand.css
  src/styles/chat.css
  src/styles/globals.css
  src/ui2/ChatApp.tsx
  src/ui2/data/roles.ts
  src/ui2/data/styles.ts
  src/views/ModelPickerView.tsx
Owners: @owner, @ux-reviewer

feat(ui): modernize to professional design system
  src/components/HeroCard.tsx
  src/components/NavBar.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/main.tsx
  src/ui2/SettingsView.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

feat(ui): modernize to professional design system
  src/components/HeroCard.tsx
  src/components/NavBar.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/main.tsx
  src/ui2/SettingsView.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

fix(e2e): resolve test failures after UI professionalization
  src/ui/overlap-guard.ts
  tests/e2e/chat.spec.ts
  tests/e2e/mobile_safearea.spec.ts
Owners: @owner, @qa-reviewer

fix(e2e): resolve test failures after UI professionalization
  src/ui/overlap-guard.ts
  tests/e2e/chat.spec.ts
  tests/e2e/mobile_safearea.spec.ts
Owners: @owner, @qa-reviewer

feat(ui): enhance chat empty state with hero cards and suggestions
  src/components/HeroCard.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

feat(ui): enhance chat empty state with hero cards and suggestions
  src/components/HeroCard.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

feat(ui): add navigation icons and smooth transitions
  src/components/NavBar.tsx
Owners: @owner, @ux-reviewer

feat(ui): add navigation icons and smooth transitions
  src/components/NavBar.tsx
Owners: @owner, @ux-reviewer

feat(ui): restructure settings page with enhanced status cards
  src/ui2/SettingsView.tsx
Owners: @owner

feat(ui): restructure settings page with enhanced status cards
  src/ui2/SettingsView.tsx
Owners: @owner

feat(ui): enhance micro-interactions with refined hover effects
  src/components/HeroCard.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

feat(ui): enhance micro-interactions with refined hover effects
  src/components/HeroCard.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete micro-interactions overhaul with loading animations
  src/components/ModelPicker.tsx
  src/components/ui/Skeleton.tsx
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete micro-interactions overhaul with loading animations
  src/components/ModelPicker.tsx
  src/components/ui/Skeleton.tsx
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat: implement react-router-dom for routing
  REFACTORING_PLAN.md
  package-lock.json
  package.json
  public/_headers
  src/App.tsx
  src/Router.tsx
  src/main.tsx
  src/routes/Debug.tsx
Owners: @owner, @devops-reviewer, @security-reviewer

feat: implement react-router-dom for routing
  REFACTORING_PLAN.md
  package-lock.json
  package.json
  public/_headers
  src/App.tsx
  src/Router.tsx
  src/main.tsx
  src/routes/Debug.tsx
Owners: @owner, @devops-reviewer, @security-reviewer

feat(testing): enable visual snapshot E2E tests
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

feat(testing): enable visual snapshot E2E tests
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

fix(routing): complete React Router migration
  src/Router.tsx
  src/components/NavBar.tsx
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer
