Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

fix(routing): complete React Router migration
  src/Router.tsx
  src/components/NavBar.tsx
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): comprehensive design system overhaul
  index.html
  src/Router.tsx
  src/styles/base.css
  src/styles/design-tokens.css
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  src/ui2/VirtualMessageList.tsx
  tailwind.config.ts
  tests/e2e/visual_snapshots.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-dark-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-light-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): comprehensive design system overhaul
  index.html
  src/Router.tsx
  src/styles/base.css
  src/styles/design-tokens.css
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  src/ui2/VirtualMessageList.tsx
  tailwind.config.ts
  tests/e2e/visual_snapshots.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-dark-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-light-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(tests): increase visual snapshot threshold for CI stability
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

fix(tests): increase visual snapshot threshold for CI stability
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

feat(personas): add comprehensive AI role collection
  public/styles.json
  src/config/models.ts
Owners: @owner

feat(personas): add comprehensive AI role collection
  public/styles.json
  src/config/models.ts
Owners: @owner

fix(testing): resolve CI failures and update visual baselines
  tests/e2e/global-setup.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
Owners: @owner, @qa-reviewer

fix(testing): resolve CI failures and update visual baselines
  tests/e2e/global-setup.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
Owners: @owner, @qa-reviewer

fix(ui): improve chat interface design and functionality
  src/ui2/ChatApp.tsx
Owners: @owner

fix(ui): improve chat interface design and functionality
  src/ui2/ChatApp.tsx
Owners: @owner

security: critical security fixes and code cleanup
  package-lock.json
  package.json
  public/_headers
  src/components/CodeBlock.tsx
  src/components/ModelPicker.tsx
  src/components/PersonaQuickBar.tsx
  src/components/SimpleMarkdownRenderer.tsx
  src/components/feedback/ErrorState.tsx
  src/components/feedback/Loader.tsx
  src/components/glass/GlassButton.tsx
  src/components/glass/GlassCard.tsx
  src/components/glass/GlassTabs.tsx
  src/components/settings/SettingsCard.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/CopyButton.tsx
  src/components/ui/GlassTile.tsx
  src/components/ui/HeroOrb.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
  src/components/ui/Skeleton.tsx
  src/components/ui/Textarea.tsx
  src/components/ui/toast/ToastsProvider.tsx
  src/lib/net/fetchTimeout.ts
  src/lib/net/fetchWithTimeout.ts
  src/lib/touch/__tests__/haptics.test.ts.bak2
  src/lib/utils/cn.ts
  src/ui2/ChatApp.tsx
Owners: @owner, @devops-reviewer, @security-reviewer, @ux-reviewer, @mobile-reviewer

security: critical security fixes and code cleanup
  package-lock.json
  package.json
  public/_headers
  src/components/CodeBlock.tsx
  src/components/ModelPicker.tsx
  src/components/PersonaQuickBar.tsx
  src/components/SimpleMarkdownRenderer.tsx
  src/components/feedback/ErrorState.tsx
  src/components/feedback/Loader.tsx
  src/components/glass/GlassButton.tsx
  src/components/glass/GlassCard.tsx
  src/components/glass/GlassTabs.tsx
  src/components/settings/SettingsCard.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/CopyButton.tsx
  src/components/ui/GlassTile.tsx
  src/components/ui/HeroOrb.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
  src/components/ui/Skeleton.tsx
  src/components/ui/Textarea.tsx
  src/components/ui/toast/ToastsProvider.tsx
  src/lib/net/fetchTimeout.ts
  src/lib/net/fetchWithTimeout.ts
  src/lib/touch/__tests__/haptics.test.ts.bak2
  src/lib/utils/cn.ts
  src/ui2/ChatApp.tsx
Owners: @owner, @devops-reviewer, @security-reviewer, @ux-reviewer, @mobile-reviewer

fix(tests): update visual baselines after UI improvements
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
Owners: @owner, @qa-reviewer

fix(tests): update visual baselines after UI improvements
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
Owners: @owner, @qa-reviewer

feat: make model selection clickable in settings
  .gemini/settings.json
  src/Router.tsx
  src/ui2/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @qa-reviewer

feat: make model selection clickable in settings
  .gemini/settings.json
  src/Router.tsx
  src/ui2/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @qa-reviewer

fix(test): wrap settings smoke test in act
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @qa-reviewer

fix(test): wrap settings smoke test in act
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @qa-reviewer

Update src/ui2/SettingsView.tsx
  src/ui2/SettingsView.tsx
Owners: @owner

Update src/ui2/SettingsView.tsx
  src/ui2/SettingsView.tsx
Owners: @owner

feat(ui-v2): complete UI-V2 implementation with import/export
  src/ui-v2/App.tsx
  src/ui-v2/components/chat/Toolbar.tsx
  src/ui-v2/state/settings.tsx
Owners: @owner

feat(ui-v2): complete UI-V2 implementation with import/export
  src/ui-v2/App.tsx
  src/ui-v2/components/chat/Toolbar.tsx
  src/ui-v2/state/settings.tsx
Owners: @owner

fix(ui-v2): resolve build warnings and import issues
  src/ui-v2/components/chat/ModelPicker.tsx
  src/ui-v2/pages/Settings.tsx
  src/ui-v2/state/chat.tsx
  src/ui/SettingsView.tsx
Owners: @owner

fix(ui-v2): resolve build warnings and import issues
  src/ui-v2/components/chat/ModelPicker.tsx
  src/ui-v2/pages/Settings.tsx
  src/ui-v2/state/chat.tsx
  src/ui/SettingsView.tsx
Owners: @owner

fix(main): correct root element selector for UI-V2
  src/main.tsx
Owners: @owner

fix(main): correct root element selector for UI-V2
  src/main.tsx
Owners: @owner

feat: implement Neon-Glass UI design system
  src/App.tsx
  src/Router.tsx
  src/components/PersonaQuickBar.tsx
  src/components/settings/SettingsCard.tsx
  src/main.tsx
  src/styles/base.css
  src/styles/theme.css
  src/ui-v2/App.tsx
  src/ui-v2/components/RequireApiKey.tsx
  src/ui-v2/components/chat/Composer.tsx
  src/ui-v2/components/chat/MessageItem.tsx
  src/ui-v2/components/chat/ModelPicker.tsx
  src/ui-v2/components/chat/Toolbar.tsx
  src/ui-v2/components/common/ErrorBoundary.tsx
  src/ui-v2/components/common/Offline.tsx
  src/ui-v2/components/form/Field.tsx
  src/ui-v2/components/form/Input.tsx
  src/ui-v2/components/form/Select.tsx
  src/ui-v2/components/form/Switch.tsx
  src/ui-v2/hooks/useOffline.ts
  src/ui-v2/hooks/usePrefersReducedMotion.ts
  src/ui-v2/main.tsx
  src/ui-v2/pages/Chat.tsx
  src/ui-v2/pages/Settings.tsx
  src/ui-v2/pages/Welcome.tsx
  src/ui-v2/router.tsx
  src/ui-v2/services/openrouter.ts
  src/ui-v2/state/chat.tsx
  src/ui-v2/state/settings.tsx
  src/ui-v2/styles/base.css
  src/ui/ChatApp.tsx
  src/ui/SettingsView.tsx
  src/ui/VirtualMessageList.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat: implement Neon-Glass UI design system
  src/App.tsx
  src/Router.tsx
  src/components/PersonaQuickBar.tsx
  src/components/settings/SettingsCard.tsx
  src/main.tsx
  src/styles/base.css
  src/styles/theme.css
  src/ui-v2/App.tsx
  src/ui-v2/components/RequireApiKey.tsx
  src/ui-v2/components/chat/Composer.tsx
  src/ui-v2/components/chat/MessageItem.tsx
  src/ui-v2/components/chat/ModelPicker.tsx
  src/ui-v2/components/chat/Toolbar.tsx
  src/ui-v2/components/common/ErrorBoundary.tsx
  src/ui-v2/components/common/Offline.tsx
  src/ui-v2/components/form/Field.tsx
  src/ui-v2/components/form/Input.tsx
  src/ui-v2/components/form/Select.tsx
  src/ui-v2/components/form/Switch.tsx
  src/ui-v2/hooks/useOffline.ts
  src/ui-v2/hooks/usePrefersReducedMotion.ts
  src/ui-v2/main.tsx
  src/ui-v2/pages/Chat.tsx
  src/ui-v2/pages/Settings.tsx
  src/ui-v2/pages/Welcome.tsx
  src/ui-v2/router.tsx
  src/ui-v2/services/openrouter.ts
  src/ui-v2/state/chat.tsx
  src/ui-v2/state/settings.tsx
  src/ui-v2/styles/base.css
  src/ui/ChatApp.tsx
  src/ui/SettingsView.tsx
  src/ui/VirtualMessageList.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui): Refactor UI components and implement new design token system
  .gemini/settings.json
  .gemini/settings.json.orig
  src/App.tsx
  src/components/HeroCard.tsx
  src/components/ModelPicker.tsx
  src/components/NavBar.tsx
  src/config/settings.ts
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/theme.css
  src/ui/ChatApp.tsx
  src/ui/SettingsView.tsx
  src/ui/settings/SettingsAppearance.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui): Refactor UI components and implement new design token system
  .gemini/settings.json
  .gemini/settings.json.orig
  src/App.tsx
  src/components/HeroCard.tsx
  src/components/ModelPicker.tsx
  src/components/NavBar.tsx
  src/config/settings.ts
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/theme.css
  src/ui/ChatApp.tsx
  src/ui/SettingsView.tsx
  src/ui/settings/SettingsAppearance.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(audit): implement code audit improvements for accessibility and performance
  CLAUDE.md
  PROGRESS_REPORT.md
  build/generate-sw-version.js
  build/vite-sw-version-plugin.js
  src/components/OfflineIndicator.tsx
  src/components/ui/Button.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
  src/hooks/useOnlineStatus.ts
  src/styles/design-tokens.css
  tailwind.config.ts
  tests/e2e/message-actions.spec.ts
  tests/e2e/offline.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/simple-nav.spec.ts
  vite.config.ts
Owners: @owner, @docs-reviewer, @ux-reviewer, @qa-reviewer, @devops-reviewer

feat(audit): implement code audit improvements for accessibility and performance
  CLAUDE.md
  PROGRESS_REPORT.md
  build/generate-sw-version.js
  build/vite-sw-version-plugin.js
  src/components/OfflineIndicator.tsx
  src/components/ui/Button.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
  src/hooks/useOnlineStatus.ts
  src/styles/design-tokens.css
  tailwind.config.ts
  tests/e2e/message-actions.spec.ts
  tests/e2e/offline.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/simple-nav.spec.ts
  vite.config.ts
Owners: @owner, @docs-reviewer, @ux-reviewer, @qa-reviewer, @devops-reviewer

refactor: complete audit point implementation and code cleanup
  src/components/effects/PremiumEffects.tsx
  src/lib/pwa/install.ts
Owners: @owner, @ux-reviewer, @security-reviewer

refactor: complete audit point implementation and code cleanup
  src/components/effects/PremiumEffects.tsx
  src/lib/pwa/install.ts
Owners: @owner, @ux-reviewer, @security-reviewer

feat(ui:tokens): consolidate design tokens and fix broken components
  src/App.tsx
  src/Router.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/CommandPalette.tsx
  src/lib/errors/mapper.ts
  src/lib/net/retry.ts
  src/lib/utils/backoff.ts
  src/styles/design-tokens.css
  src/styles/legacy-buttons.css
  src/ui/VirtualMessageList.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer, @security-reviewer

feat(ui:tokens): consolidate design tokens and fix broken components
  src/App.tsx
  src/Router.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/CommandPalette.tsx
  src/lib/errors/mapper.ts
  src/lib/net/retry.ts
  src/lib/utils/backoff.ts
  src/styles/design-tokens.css
  src/styles/legacy-buttons.css
  src/ui/VirtualMessageList.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer, @security-reviewer

refactor(ui:atoms): migrate Button/Input/Select/Card to Glass system
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
Owners: @owner, @ux-reviewer

refactor(ui:atoms): migrate Button/Input/Select/Card to Glass system
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/components/ui/Select.tsx
Owners: @owner, @ux-reviewer

feat(ui:screens-chat): enhance message states and error handling
  src/ui/ChatApp.tsx
Owners: @owner

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist
