Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

feat(design-system): complete Sprint 1 - systembasis design tokens
  src/App.tsx
  src/components/Badge.tsx
  src/components/ErrorBoundary.tsx
  src/components/ModelPicker.tsx
  src/components/chat/Avatar.tsx
  src/components/chat/Composer.tsx
  src/components/chat/Toolbar.tsx
  src/components/feedback/ErrorState.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/HeroOrb.tsx
  src/design-tokens.ts
  src/routes/Debug.tsx
  src/styles/theme.css
  src/views/ChatsView.tsx
  src/views/Diagnostics.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

Create eslint.yml
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

Create eslint.yml
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

Create codescan.yml
  .github/workflows/codescan.yml
Owners: @owner, @docs-reviewer

Create codescan.yml
  .github/workflows/codescan.yml
Owners: @owner, @docs-reviewer

feat(mobile): complete Sprint 2 - robust mobile composer
  src/components/chat/Composer.tsx
  src/components/ui/BottomSheet.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
Owners: @owner, @ux-reviewer

feat(mobile): complete Sprint 2 - robust mobile composer
  src/components/chat/Composer.tsx
  src/components/ui/BottomSheet.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete Sprint 3 & 4 - consistent bubbles and model picker
  docs/PR_UI_AUDIT.md
  lighthouserc.cjs
  public/_headers
  public/sw.js
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/ModelPicker.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/Icon.tsx
  src/design-tokens.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/ModelPickerView.tsx
  src/views/SettingsView.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @docs-reviewer, @devops-reviewer, @security-reviewer, @ux-reviewer, @qa-reviewer

feat(ui): complete Sprint 3 & 4 - consistent bubbles and model picker
  docs/PR_UI_AUDIT.md
  lighthouserc.cjs
  public/_headers
  public/sw.js
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/ModelPicker.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/Icon.tsx
  src/design-tokens.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/ModelPickerView.tsx
  src/views/SettingsView.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @docs-reviewer, @devops-reviewer, @security-reviewer, @ux-reviewer, @qa-reviewer

feat(mobile): complete mobile-first PWA optimization for Samsung Android
  README.md
  index.html
  public/_headers
  public/manifest.webmanifest
  public/offline.html
  public/sw.js
  src/main.tsx
  src/styles/theme.css
  tailwind.config.ts
  vite.config.ts
Owners: @owner, @docs-reviewer, @devops-reviewer, @security-reviewer, @ux-reviewer

feat(mobile): complete mobile-first PWA optimization for Samsung Android
  README.md
  index.html
  public/_headers
  public/manifest.webmanifest
  public/offline.html
  public/sw.js
  src/main.tsx
  src/styles/theme.css
  tailwind.config.ts
  vite.config.ts
Owners: @owner, @docs-reviewer, @devops-reviewer, @security-reviewer, @ux-reviewer

fix(ci): repair GitHub Actions configuration
  .github/workflows/ci.yml
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

fix(ci): repair GitHub Actions configuration
  .github/workflows/ci.yml
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

feat(sprint-5): implement performance & UX enhancements
  package-lock.json
  package.json
  src/components/CodeBlockLazy.tsx
  src/components/SimpleMarkdownRenderer.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/settings/SimpleThemeToggle.tsx
  vite.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer

feat(sprint-5): implement performance & UX enhancements
  package-lock.json
  package.json
  src/components/CodeBlockLazy.tsx
  src/components/SimpleMarkdownRenderer.tsx
  src/components/chat/ChatMessageContent.tsx
  src/components/settings/SimpleThemeToggle.tsx
  vite.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer

fix(ci): repair ESLint SARIF upload issue
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

fix(ci): repair ESLint SARIF upload issue
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

remove(ci): delete unnecessary ESLint SARIF workflow
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

remove(ci): delete unnecessary ESLint SARIF workflow
  .github/workflows/eslint.yml
Owners: @owner, @docs-reviewer

feat(ui): complete Glassmorphism 2.0 UI/UX redesign
  src/App.tsx
  src/components/glass/AuroraBackground.tsx
  src/components/glass/GlassButton.tsx
  src/components/glass/GlassCard.tsx
  src/components/layout/BottomNav.tsx
  src/components/settings/SettingsCard.tsx
  src/main.tsx
  src/styles/aurora.css
  src/styles/glass-components.css
  src/styles/visual-effects.css
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete Glassmorphism 2.0 UI/UX redesign
  src/App.tsx
  src/components/glass/AuroraBackground.tsx
  src/components/glass/GlassButton.tsx
  src/components/glass/GlassCard.tsx
  src/components/layout/BottomNav.tsx
  src/components/settings/SettingsCard.tsx
  src/main.tsx
  src/styles/aurora.css
  src/styles/glass-components.css
  src/styles/visual-effects.css
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(glassmorphism): enhance Glassmorphism 2.0 with advanced effects & optimizations
  src/components/glass/GlassCard.tsx
  src/hooks/useAuroraTheme.ts
  src/main.tsx
  src/styles/aurora-themes.css
  src/styles/aurora.css
  src/styles/chat-glass.css
  src/styles/glass-components.css
  src/styles/interactive-effects.css
  src/styles/mobile-glass.css
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(glassmorphism): enhance Glassmorphism 2.0 with advanced effects & optimizations
  src/components/glass/GlassCard.tsx
  src/hooks/useAuroraTheme.ts
  src/main.tsx
  src/styles/aurora-themes.css
  src/styles/aurora.css
  src/styles/chat-glass.css
  src/styles/glass-components.css
  src/styles/interactive-effects.css
  src/styles/mobile-glass.css
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): complete Sprint 7 - Enhanced Glass Interface Integration
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/CodeBlockLazy.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete Sprint 7 - Enhanced Glass Interface Integration
  src/App.tsx
  src/components/CodeBlock.tsx
  src/components/CodeBlockLazy.tsx
  src/components/chat/ChatBubble.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer

feat(ui): restore complete style & role functionality with Glass 2.0 integration
  src/components/chat/Composer.tsx
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/lib/chat/slashCommands.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

feat(ui): restore complete style & role functionality with Glass 2.0 integration
  src/components/chat/Composer.tsx
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/lib/chat/slashCommands.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

fix(test): add CSS.supports fallback for jsdom test environment
  src/hooks/useAuroraTheme.ts
Owners: @owner

fix(test): add CSS.supports fallback for jsdom test environment
  src/hooks/useAuroraTheme.ts
Owners: @owner

fix(lighthouse): adjust performance threshold to 0.80
  lighthouserc.cjs
Owners: @owner

fix(lighthouse): adjust performance threshold to 0.80
  lighthouserc.cjs
Owners: @owner

feat(ui): comprehensive UI optimizations and polish for style & role system
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): comprehensive UI optimizations and polish for style & role system
  src/components/chat/QuickStylesPanel.tsx
  src/components/chat/StyleRoleIndicator.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): finalize design token system implementation
  .claude/settings.json
  AGENTS.md
  eslint.config.mjs
  package.json
  src/design-tokens.ts
  src/lib/android/system.ts
  src/lib/speech/voiceToText.ts
  src/styles/aurora.css
  src/styles/chat-glass.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/styles/mobile-glass.css
  src/styles/theme.css
  src/styles/visual-effects.css
  stylelint.config.mjs
  tailwind.config.ts
  tools/check-css-hex.mjs
Owners: @owner, @devops-reviewer, @security-reviewer, @ux-reviewer

feat(ui): finalize design token system implementation
  .claude/settings.json
  AGENTS.md
  eslint.config.mjs
  package.json
  src/design-tokens.ts
  src/lib/android/system.ts
  src/lib/speech/voiceToText.ts
  src/styles/aurora.css
  src/styles/chat-glass.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/styles/mobile-glass.css
  src/styles/theme.css
  src/styles/visual-effects.css
  stylelint.config.mjs
  tailwind.config.ts
  tools/check-css-hex.mjs
Owners: @owner, @devops-reviewer, @security-reviewer, @ux-reviewer

feat(ui): comprehensive button system and layout enhancements for mobile UX
  src/components/chat/QuickStylesPanel.tsx
  src/components/glass/GlassButton.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): comprehensive button system and layout enhancements for mobile UX
  src/components/chat/QuickStylesPanel.tsx
  src/components/glass/GlassButton.tsx
  src/components/settings/RoleSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/styles/glass-components.css
Owners: @owner, @ux-reviewer

feat(ui): comprehensive glassmorphism implementation across all views
  src/components/glass/GlassCard.tsx
  src/components/glass/GlassTabs.tsx
  src/components/layout/BottomNav.tsx
  src/styles/chat-glass.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/ModelPickerView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): comprehensive glassmorphism implementation across all views
  src/components/glass/GlassCard.tsx
  src/components/glass/GlassTabs.tsx
  src/components/layout/BottomNav.tsx
  src/styles/chat-glass.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/styles/glass-components.css
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/ModelPickerView.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tests/smoke/settings.smoke.test.tsx
Owners: @owner, @ux-reviewer, @qa-reviewer

cleanup
  .backup_20250919-1641/_headers
  .backup_20250919-1641/index.html
  .backup_20250919-1641/manifest.webmanifest
  package-lock.json
  package.json
  src/components/chat/Composer.tsx
  src/components/chat/VoiceButton.tsx
  src/lib/speech/voiceToText.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @security-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist
