Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist

feat(ui:screens-chat): enhance message states and error handling
  src/ui/ChatApp.tsx
Owners: @owner

chore(pwa:signals): improve offline indicator with semantic design tokens
  src/components/OfflineIndicator.tsx
Owners: @owner, @ux-reviewer

chore(pwa:signals): improve offline indicator with semantic design tokens
  src/components/OfflineIndicator.tsx
Owners: @owner, @ux-reviewer

fix(styles): resolve Tailwind CSS layer directives build failure
  public/sw.js
  src/App.tsx
  src/styles/legacy-buttons.css
  src/styles/tailwind.css
Owners: @owner, @ux-reviewer

fix(styles): resolve Tailwind CSS layer directives build failure
  public/sw.js
  src/App.tsx
  src/styles/legacy-buttons.css
  src/styles/tailwind.css
Owners: @owner, @ux-reviewer

feat(storybook): integrate Storybook for component development
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/stories/Badge.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/Card.stories.tsx
  src/stories/Composer.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/MessageBubble.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textarea.stories.tsx
  vitest.config.ts
  vitest.shims.d.ts
Owners: @owner, @devops-reviewer

feat(storybook): integrate Storybook for component development
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/stories/Badge.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/Card.stories.tsx
  src/stories/Composer.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/MessageBubble.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textarea.stories.tsx
  vitest.config.ts
  vitest.shims.d.ts
Owners: @owner, @devops-reviewer

docs: update agent and project documentation
  CLAUDE.md
  README.md
Owners: @owner, @docs-reviewer

docs: update agent and project documentation
  CLAUDE.md
  README.md
Owners: @owner, @docs-reviewer

refactor(ui): overhaul components with new design system
  public/sw.js
  src/components/CodeBlock.tsx
  src/components/Composer.tsx
  src/components/ModelPicker.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Icon.tsx
  src/components/ui/Input.tsx
  src/components/ui/MessageBubble.tsx
  src/components/ui/Switch.tsx
  src/components/ui/Textarea.tsx
  src/ui/ChatApp.tsx
  src/ui/settings/SettingsRoles.tsx
  src/ui/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

refactor(ui): overhaul components with new design system
  public/sw.js
  src/components/CodeBlock.tsx
  src/components/Composer.tsx
  src/components/ModelPicker.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Icon.tsx
  src/components/ui/Input.tsx
  src/components/ui/MessageBubble.tsx
  src/components/ui/Switch.tsx
  src/components/ui/Textarea.tsx
  src/ui/ChatApp.tsx
  src/ui/settings/SettingsRoles.tsx
  src/ui/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

refactor(codebase): comprehensive cleanup and consolidation
  Uiplan.md
  public/sw.js
  src/components/Badge.tsx
  src/components/Switch.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/components/ui/Switch.tsx
  src/lib/client.ts
  src/lib/net/index.ts
  src/lib/openrouter/index.ts
  src/lib/pwa/index.ts
  src/lib/storage/index.ts
  src/lib/utils/index.ts
  src/lib/validators/index.ts
  src/stories/Badge.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/Card.stories.tsx
  src/stories/Composer.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/MessageBubble.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textarea.stories.tsx
  src/types/chat.ts
  src/ui/ChatApp.tsx
  src/ui/CodeBlock.tsx
  src/ui/settings/SettingsAppearance.tsx
  src/ui/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

refactor(codebase): comprehensive cleanup and consolidation
  Uiplan.md
  public/sw.js
  src/components/Badge.tsx
  src/components/Switch.tsx
  src/components/settings/AuroraThemeSettings.tsx
  src/components/settings/StyleSettings.tsx
  src/components/ui/Switch.tsx
  src/lib/client.ts
  src/lib/net/index.ts
  src/lib/openrouter/index.ts
  src/lib/pwa/index.ts
  src/lib/storage/index.ts
  src/lib/utils/index.ts
  src/lib/validators/index.ts
  src/stories/Badge.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/Card.stories.tsx
  src/stories/Composer.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/MessageBubble.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textarea.stories.tsx
  src/types/chat.ts
  src/ui/ChatApp.tsx
  src/ui/CodeBlock.tsx
  src/ui/settings/SettingsAppearance.tsx
  src/ui/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

chore(pwa): update service worker version to 70265138
  public/sw.js
Owners: @owner

chore(pwa): update service worker version to f0e14be6
  public/sw.js
Owners: @owner

fix
  eslint.config.mjs
  package-lock.json
  package.json
  playwright-isolated.config.ts
  playwright.visual.config.ts
  public/sw.js
  src/App.tsx
  src/components/Composer.tsx
  src/components/ModelPicker.tsx
  src/components/ui/MessageBubble.tsx
  src/stories/Composer.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/ui/ChatApp.tsx
  src/ui/ModelSheet.tsx
  src/ui/types.ts
  tests/browser-setup.ts
  tests/e2e/chat.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/visual-regression.spec.ts
  tests/e2e/visual-regression.spec.ts-snapshots/about-view-moderate-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/chat-view-strict-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/home-view-moderate-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/model-picker-strict-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/settings-view-strict-visual-regression-linux.png
  vitest.config.ts
  vitest.storybook.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

fix
  eslint.config.mjs
  package-lock.json
  package.json
  playwright-isolated.config.ts
  playwright.visual.config.ts
  public/sw.js
  src/App.tsx
  src/components/Composer.tsx
  src/components/ModelPicker.tsx
  src/components/ui/MessageBubble.tsx
  src/stories/Composer.stories.tsx
  src/stories/ModelPicker.stories.tsx
  src/ui/ChatApp.tsx
  src/ui/ModelSheet.tsx
  src/ui/types.ts
  tests/browser-setup.ts
  tests/e2e/chat.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/visual-regression.spec.ts
  tests/e2e/visual-regression.spec.ts-snapshots/about-view-moderate-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/chat-view-strict-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/home-view-moderate-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/model-picker-strict-visual-regression-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/settings-view-strict-visual-regression-linux.png
  vitest.config.ts
  vitest.storybook.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

fix(ui,pwa,build): aktivierte UI-V2, SW-Cache entklebt, Token-Nutzung bereinigt; Tailwind content/safelist geprüft
  public/sw.js
  tests/e2e/visual-regression.spec.ts-snapshots/about-view-moderate-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/chat-view-strict-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/composer-empty-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/composer-filled-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/home-view-moderate-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/model-picker-strict-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/settings-view-strict-chromium-linux.png
Owners: @owner, @qa-reviewer

fix(ui,pwa,build): aktivierte UI-V2, SW-Cache entklebt, Token-Nutzung bereinigt; Tailwind content/safelist geprüft
  public/sw.js
  tests/e2e/visual-regression.spec.ts-snapshots/about-view-moderate-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/chat-view-strict-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/composer-empty-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/composer-filled-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/home-view-moderate-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/model-picker-strict-chromium-linux.png
  tests/e2e/visual-regression.spec.ts-snapshots/settings-view-strict-chromium-linux.png
Owners: @owner, @qa-reviewer

feat(ui): commit working state before ESLint fixes
  .storybook/preview.ts
  package.json
  public/sw.js
  src/AppV2.tsx
  src/RouterV2.tsx
  src/components/NavBarV2.tsx
  src/main.tsx
  src/styles/aurora.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/ui/ChatAppV2.tsx
  src/ui/ExecutiveChatV2.tsx
  src/ui/ExecutiveSettingsV2.tsx
  src/ui/SettingsViewV2.tsx
Owners: @owner, @devops-reviewer, @ux-reviewer

feat(ui): commit working state before ESLint fixes
  .env
  .storybook/preview.ts
  package.json
  public/sw.js
  src/AppV2.tsx
  src/RouterV2.tsx
  src/components/NavBarV2.tsx
  src/main.tsx
  src/styles/aurora.css
  src/styles/design-tokens.css
  src/styles/design-tokens.ts
  src/ui/ChatAppV2.tsx
  src/ui/ExecutiveChatV2.tsx
  src/ui/ExecutiveSettingsV2.tsx
  src/ui/SettingsViewV2.tsx
Owners: @owner, @devops-reviewer, @ux-reviewer

feat(ui,tests): finalize UI V2 with E2E test updates and design tokens
  public/sw.js
  src/styles/design-tokens.css
  src/ui/ExecutiveChatV2.tsx
  src/ui/ExecutiveSettingsV2.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/chat.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/simple-nav.spec.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/ui-v2-smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui,tests): finalize UI V2 with E2E test updates and design tokens
  public/sw.js
  src/styles/design-tokens.css
  src/ui/ExecutiveChatV2.tsx
  src/ui/ExecutiveSettingsV2.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/chat.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/simple-nav.spec.ts
  tests/e2e/smoke.spec.ts
  tests/e2e/ui-v2-smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): complete UI V2 implementation with TypeScript fixes and model picker integration
  public/sw.js
  src/styles/design-tokens.css
  src/ui/CorporateModelPickerV2.tsx
  src/ui/ExecutiveChatV2.tsx
Owners: @owner, @ux-reviewer

feat(ui): complete UI V2 implementation with TypeScript fixes and model picker integration
  public/sw.js
  src/styles/design-tokens.css
  src/ui/CorporateModelPickerV2.tsx
  src/ui/ExecutiveChatV2.tsx
Owners: @owner, @ux-reviewer

feat(pwa): complete PWA features implementation with share targets and protocol handlers
  src/components/ABTestingPanel.tsx
  src/components/AdvancedModelSettings.tsx
  src/components/ConversationHistory.tsx
  src/components/OfflineIndicator.tsx
  src/components/PWAInstallPrompt.tsx
  src/components/PWAIntegration.tsx
  src/hooks/useConversationManager.ts
  src/hooks/useOfflineMode.ts
  src/hooks/usePWAHandlers.ts
  src/hooks/useUIVersion.ts
  src/lib/ab-testing.ts
  src/lib/conversation-manager.ts
  src/lib/model-settings.ts
  src/lib/offline-storage.ts
  src/lib/pwa-handlers.ts
  src/styles/design-tokens.css
  src/ui/ChatApp.tsx
  src/ui/CorporateModelPickerV2.tsx
  src/ui/ExecutiveChatV2.tsx
  src/ui/types.ts
  tests/e2e/visual-regression.spec.ts
Owners: @owner, @ux-reviewer, @security-reviewer, @qa-reviewer

feat(pwa): complete PWA features implementation with share targets and protocol handlers
  src/components/ABTestingPanel.tsx
  src/components/AdvancedModelSettings.tsx
  src/components/ConversationHistory.tsx
  src/components/OfflineIndicator.tsx
  src/components/PWAInstallPrompt.tsx
  src/components/PWAIntegration.tsx
  src/hooks/useConversationManager.ts
  src/hooks/useOfflineMode.ts
  src/hooks/usePWAHandlers.ts
  src/hooks/useUIVersion.ts
  src/lib/ab-testing.ts
  src/lib/conversation-manager.ts
  src/lib/model-settings.ts
  src/lib/offline-storage.ts
  src/lib/pwa-handlers.ts
  src/styles/design-tokens.css
  src/ui/ChatApp.tsx
  src/ui/CorporateModelPickerV2.tsx
  src/ui/ExecutiveChatV2.tsx
  src/ui/types.ts
  tests/e2e/visual-regression.spec.ts
Owners: @owner, @ux-reviewer, @security-reviewer, @qa-reviewer

fix(typescript): resolve type errors in PWA and offline mode hooks
  src/hooks/useOfflineMode.ts
  src/hooks/usePWAHandlers.ts
  src/lib/pwa-handlers.ts
Owners: @owner, @security-reviewer

fix(typescript): resolve type errors in PWA and offline mode hooks
  src/hooks/useOfflineMode.ts
  src/hooks/usePWAHandlers.ts
  src/lib/pwa-handlers.ts
Owners: @owner, @security-reviewer

feat(e2e): add PWA feature tests and infrastructure validation
  public/sw.js
  tests/e2e/pwa-features.spec.ts
Owners: @owner, @qa-reviewer

feat(e2e): add PWA feature tests and infrastructure validation
  public/sw.js
  tests/e2e/pwa-features.spec.ts
Owners: @owner, @qa-reviewer

feat(optimization): complete performance, analytics and deployment optimizations
  public/sw.js
  src/lib/analytics.ts
  src/lib/deployment-optimizations.ts
  src/lib/performance-optimizations.ts
Owners: @owner, @security-reviewer

feat(optimization): complete performance, analytics and deployment optimizations
  public/sw.js
  src/lib/analytics.ts
  src/lib/deployment-optimizations.ts
  src/lib/performance-optimizations.ts
Owners: @owner, @security-reviewer

feat(ui): complete professional UI redesign and test fixes
  README.md
  package.json
  public/sw.js
  src/App.tsx
  src/components/PersonaQuickBar.tsx
  src/lib/deployment-optimizations.ts
  src/lib/performance-optimizations.ts
  src/ui/ChatApp.tsx
  src/ui/VirtualMessageList.tsx
  test-results.json
  tests/e2e/pwa-features.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/visual-regression.spec.ts-snapshots/executive-settings-v2-chromium-linux.png
Owners: @owner, @docs-reviewer, @devops-reviewer, @ux-reviewer, @security-reviewer, @qa-reviewer

feat(ui): complete professional UI redesign and test fixes
  README.md
  package.json
  public/sw.js
  src/App.tsx
  src/components/PersonaQuickBar.tsx
  src/lib/deployment-optimizations.ts
  src/lib/performance-optimizations.ts
  src/ui/ChatApp.tsx
  src/ui/VirtualMessageList.tsx
  test-results.json
  tests/e2e/pwa-features.spec.ts
  tests/e2e/settings-appearance.spec.ts
  tests/e2e/simple-chat.spec.ts
  tests/e2e/visual-regression.spec.ts-snapshots/executive-settings-v2-chromium-linux.png
Owners: @owner, @docs-reviewer, @devops-reviewer, @ux-reviewer, @security-reviewer, @qa-reviewer

feat(design-system): complete design system modernization with CSS layers
  .storybook/preview.ts
  playwright.config.ts
  public/sw.js
  src/App.tsx
  src/AppV2.tsx
  src/styles/aurora-themes.css
  src/styles/aurora.css
  src/styles/base.css
  src/styles/brand.css
  src/styles/chat-glass.css
  src/styles/chat.css
  src/styles/components.css
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/globals.css
  src/styles/interactive-effects.css
  src/styles/legacy-buttons.css
  src/styles/mobile-glass.css
  src/styles/primitives.css
  src/styles/tailwind.css
  src/styles/visual-effects.css
  src/ui/primitives/Badge.tsx
  src/ui/primitives/Button.tsx
  src/ui/primitives/Input.tsx
  src/ui/primitives/Select.tsx
  src/ui/primitives/Sheet.tsx
  src/ui/primitives/Tabs.tsx
  src/ui/primitives/Toast.tsx
  src/ui/primitives/Tooltip.tsx
  src/ui/primitives/index.ts
  tailwind.config.ts
  tests/e2e/design-system-regression.spec.ts
  tests/e2e/design-system-regression.spec.ts-snapshots/button-default-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/button-enabled-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/glass-components-showcase-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/high-contrast-mode-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/reduced-motion-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/settings-glass-system-chromium-linux.png
  tests/e2e/design-system-verification.spec.ts
  tests/e2e/primitive-components.spec.ts
Owners: @owner, @qa-reviewer, @ux-reviewer

feat(design-system): complete design system modernization with CSS layers
  .storybook/preview.ts
  playwright.config.ts
  public/sw.js
  src/App.tsx
  src/AppV2.tsx
  src/styles/aurora-themes.css
  src/styles/aurora.css
  src/styles/base.css
  src/styles/brand.css
  src/styles/chat-glass.css
  src/styles/chat.css
  src/styles/components.css
  src/styles/design-tokens.css
  src/styles/glass-components.css
  src/styles/globals.css
  src/styles/interactive-effects.css
  src/styles/legacy-buttons.css
  src/styles/mobile-glass.css
  src/styles/primitives.css
  src/styles/tailwind.css
  src/styles/visual-effects.css
  src/ui/primitives/Badge.tsx
  src/ui/primitives/Button.tsx
  src/ui/primitives/Input.tsx
  src/ui/primitives/Select.tsx
  src/ui/primitives/Sheet.tsx
  src/ui/primitives/Tabs.tsx
  src/ui/primitives/Toast.tsx
  src/ui/primitives/Tooltip.tsx
  src/ui/primitives/index.ts
  tailwind.config.ts
  tests/e2e/design-system-regression.spec.ts
  tests/e2e/design-system-regression.spec.ts-snapshots/button-default-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/button-enabled-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/glass-components-showcase-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/high-contrast-mode-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/reduced-motion-chromium-linux.png
  tests/e2e/design-system-regression.spec.ts-snapshots/settings-glass-system-chromium-linux.png
  tests/e2e/design-system-verification.spec.ts
  tests/e2e/primitive-components.spec.ts
Owners: @owner, @qa-reviewer, @ux-reviewer

fix(core): resolve critical build and accessibility issues
  index.html
  package-lock.json
  package.json
  playwright.config.ts
  public/sw.js
  src/App.tsx
  src/AppV2.tsx
  src/Router.tsx
  src/RouterV2.tsx
  src/components/NavBarV2.tsx
  src/components/primitives/Card.tsx
  src/components/shell/AppShell.tsx
  src/components/shell/MainContent.tsx
  src/components/shell/NavBar.tsx
  src/components/ui/Badge.tsx
  src/components/ui/MessageBubble.tsx
  src/index.css
  src/lib/cn.ts
  src/main.tsx
  src/styles/components.css
  src/styles/primitives.css
  src/styles/tokens.css
  src/ui/AppShell/AppShell.tsx
  src/ui/AppShell/ChatMain.tsx
  src/ui/AppShell/ComposerDock.tsx
  src/ui/AppShell/RightDrawer.tsx
  src/ui/AppShell/SidebarLeft.tsx
  src/ui/AppShell/Topbar.tsx
  src/ui/chat/CodeBlock.tsx
  src/ui/chat/MessageActions.tsx
  src/ui/chat/MessageItem.tsx
  src/ui/chat/TypingIndicator.tsx
  src/ui/chat/types.ts
  src/ui/primitives/Badge.tsx
  src/ui/primitives/Button.tsx
  src/ui/primitives/Input.tsx
  src/ui/primitives/Tabs.tsx
  src/ui/primitives/TextArea.tsx
  src/ui/primitives/index.ts
  tailwind.config.ts
Owners: @owner, @devops-reviewer, @qa-reviewer, @ux-reviewer, @security-reviewer

fix(core): resolve critical build and accessibility issues
  index.html
  package-lock.json
  package.json
  playwright.config.ts
  public/sw.js
  src/App.tsx
  src/AppV2.tsx
  src/Router.tsx
  src/RouterV2.tsx
  src/components/NavBarV2.tsx
  src/components/primitives/Card.tsx
  src/components/shell/AppShell.tsx
  src/components/shell/MainContent.tsx
  src/components/shell/NavBar.tsx
  src/components/ui/Badge.tsx
  src/components/ui/MessageBubble.tsx
  src/index.css
  src/lib/cn.ts
  src/main.tsx
  src/styles/components.css
  src/styles/primitives.css
  src/styles/tokens.css
  src/ui/AppShell/AppShell.tsx
  src/ui/AppShell/ChatMain.tsx
  src/ui/AppShell/ComposerDock.tsx
  src/ui/AppShell/RightDrawer.tsx
  src/ui/AppShell/SidebarLeft.tsx
  src/ui/AppShell/Topbar.tsx
  src/ui/chat/CodeBlock.tsx
  src/ui/chat/MessageActions.tsx
  src/ui/chat/MessageItem.tsx
  src/ui/chat/TypingIndicator.tsx
  src/ui/chat/types.ts
  src/ui/primitives/Badge.tsx
  src/ui/primitives/Button.tsx
  src/ui/primitives/Input.tsx
  src/ui/primitives/Tabs.tsx
  src/ui/primitives/TextArea.tsx
  src/ui/primitives/index.ts
  tailwind.config.ts
Owners: @owner, @devops-reviewer, @qa-reviewer, @ux-reviewer, @security-reviewer

feat(streaming): implement real-time streaming chat with SSE and abort
  public/sw.js
  src/data/adapter/chat.ts
  src/ui/AppShell/AppShell.tsx
  src/ui/AppShell/ComposerDock.tsx
  src/ui/components/ErrorBanner.tsx
  src/ui/state/uiMachine.ts
Owners: @owner
