Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

fix(ci): update Node.js to 20.18.0 for lint-staged compatibility
  .github/workflows/autopilot.yml
  .github/workflows/ci.yml
  .nvmrc
Owners: @owner, @docs-reviewer

fix(ci): update Node.js to 20.18.0 for lint-staged compatibility
  .github/workflows/autopilot.yml
  .github/workflows/ci.yml
  .nvmrc
Owners: @owner, @docs-reviewer

fix(typescript): resolve webVitals type errors
  src/lib/performance/webVitals.ts
Owners: @owner, @performance-reviewer

fix(typescript): resolve webVitals type errors
  src/lib/performance/webVitals.ts
Owners: @owner, @performance-reviewer

fix(e2e): simplify smoke tests for basic validation
  tests/e2e/smoke.spec.ts
Owners: @owner, @qa-reviewer

fix(e2e): simplify smoke tests for basic validation
  tests/e2e/smoke.spec.ts
Owners: @owner, @qa-reviewer

fix(e2e): integrate enhanced Composer component in ChatView
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

fix(e2e): integrate enhanced Composer component in ChatView
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

feat(chat): add MessageList component for enhanced chat display
  src/components/chat/MessageList.tsx
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

feat(chat): add MessageList component for enhanced chat display
  src/components/chat/MessageList.tsx
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

fix(chat): resolve TypeScript errors in ChatView
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

fix(chat): resolve TypeScript errors in ChatView
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

Potential fix for code scanning alert no. 9: Insecure randomness
  src/lib/performance/webVitals.ts
Owners: @owner, @performance-reviewer

fix(ui): resolve UI loading issues and infinite re-render loop
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/lib/speech/voiceToText.ts
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

fix(ui): resolve UI loading issues and infinite re-render loop
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/lib/speech/voiceToText.ts
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

fix(lint): resolve ESLint warnings and clean up unused code
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

fix(lint): resolve ESLint warnings and clean up unused code
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/views/ChatView.tsx
Owners: @owner, @ux-reviewer

feat(infra): consolidate infrastructure and establish clear standards
  .gitignore
  README.md
  _headers
  docs/ADR_001_INFRASTRUCTURE_CONSOLIDATION.md
  docs/PR_GUIDELINES.md
  docs/SECURITY_HEADERS.md
Owners: @owner, @docs-reviewer

feat(infra): consolidate infrastructure and establish clear standards
  .gitignore
  README.md
  _headers
  docs/ADR_001_INFRASTRUCTURE_CONSOLIDATION.md
  docs/PR_GUIDELINES.md
  docs/SECURITY_HEADERS.md
Owners: @owner, @docs-reviewer

fix(e2e): resolve duplicate main ID causing test failures
  src/views/ChatView.tsx
  tests/e2e/smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(e2e): resolve duplicate main ID causing test failures
  src/views/ChatView.tsx
  tests/e2e/smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(ui): neon-glass theme behind data-theme flag, primitives and layout wiring
  src/App.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/GlassCard.tsx
  src/components/ui/GlassTile.tsx
  src/components/ui/HeroOrb.tsx
  src/components/ui/PromptBar.tsx
  src/styles/plugins/neon.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui): neon-glass theme behind data-theme flag, primitives and layout wiring
  src/App.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/GlassCard.tsx
  src/components/ui/GlassTile.tsx
  src/components/ui/HeroOrb.tsx
  src/components/ui/PromptBar.tsx
  src/styles/plugins/neon.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(mobile): activate neon theme by default and enforce mobile-only design
  index.html
  public/manifest.webmanifest
  src/App.tsx
  src/styles/globals.css
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @security-reviewer, @ux-reviewer

feat(mobile): activate neon theme by default and enforce mobile-only design
  index.html
  public/manifest.webmanifest
  src/App.tsx
  src/styles/globals.css
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @security-reviewer, @ux-reviewer

feat(ui): refined glass theme, tokens, motion, prompt bar, tiles
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/ui/GlassCard.tsx
  src/components/ui/HeroOrb.tsx
  src/styles/plugins/neon.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui): refined glass theme, tokens, motion, prompt bar, tiles
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/ui/GlassCard.tsx
  src/components/ui/HeroOrb.tsx
  src/styles/plugins/neon.ts
  src/styles/theme.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer

fix(e2e): restore ChatView with proper Composer for E2E tests
  src/views/ChatView.tsx
  tests/e2e/smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(e2e): restore ChatView with proper Composer for E2E tests
  src/views/ChatView.tsx
  tests/e2e/smoke.spec.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

feat(chat+ux): bugfixes (stream, autoscroll, safe-area) + glass theme primitives + visual uplift
  AGENTS.md
  UI-UX-Audit.md
  package-lock.json
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassTile.tsx
  src/styles/brand.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

feat(chat+ux): bugfixes (stream, autoscroll, safe-area) + glass theme primitives + visual uplift
  AGENTS.md
  UI-UX-Audit.md
  package-lock.json
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassTile.tsx
  src/styles/brand.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

fix(e2e): ensure autoscroll anchor test has overflow for FAB visibility
  tests/e2e/autoscroll_anchor.spec.ts
Owners: @owner, @qa-reviewer

fix(e2e): ensure autoscroll anchor test has overflow for FAB visibility
  tests/e2e/autoscroll_anchor.spec.ts
Owners: @owner, @qa-reviewer

feat(chat+ux): bugfixes (stream, autoscroll, safe-area) + glass theme primitives + visual uplift (#35)
  AGENTS.md
  UI-UX-Audit.md
  package-lock.json
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassTile.tsx
  src/styles/brand.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

feat(chat+ux): bugfixes (stream, autoscroll, safe-area) + glass theme primitives + visual uplift (#35)
  AGENTS.md
  UI-UX-Audit.md
  package-lock.json
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/chat/ScrollToEndFAB.tsx
  src/components/layout/BottomNav.tsx
  src/components/ui/GlassTile.tsx
  src/styles/brand.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @qa-reviewer

fix(ui): deduplicate loading dots in MessageList
  src/components/chat/MessageList.tsx
Owners: @owner, @ux-reviewer

fix(ui): deduplicate loading dots in MessageList
  src/components/chat/MessageList.tsx
Owners: @owner, @ux-reviewer

feat(ui): comprehensive layout & design improvements for professional polish
  src/components/chat/Avatar.tsx
  src/components/chat/MessageList.tsx
  src/styles/theme.css
  src/styles/tokens.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
Owners: @owner, @ux-reviewer

feat(ui): comprehensive layout & design improvements for professional polish
  src/components/chat/Avatar.tsx
  src/components/chat/MessageList.tsx
  src/styles/theme.css
  src/styles/tokens.css
  src/views/ChatView.tsx
  src/views/QuickStartView.tsx
Owners: @owner, @ux-reviewer

ci(playwright): webServer+baseURL; GH Actions für Node 20/22, Build+E2E+Artefakte
  .github/workflows/ci.yml
  playwright.config.ts
Owners: @owner, @docs-reviewer, @qa-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist
