Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist

cleanup
  .backup_20250919-1641/_headers
  .backup_20250919-1641/index.html
  .backup_20250919-1641/manifest.webmanifest
  package-lock.json
  package.json
  src/components/chat/Composer.tsx
  src/components/chat/VoiceButton.tsx
  src/lib/speech/voiceToText.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @security-reviewer

chore(node): pin to v20.14.x via .nvmrc and add preview/lh scripts
  .nvmrc
  package.json
Owners: @owner, @devops-reviewer

chore(node): pin to v20.14.x via .nvmrc and add preview/lh scripts
  .nvmrc
  package.json
Owners: @owner, @devops-reviewer

feat(ui/tokens): introduce consistent color tokens, radius scale, glass utility and safe-area helpers
  src/styles/base.css
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui/tokens): introduce consistent color tokens, radius scale, glass utility and safe-area helpers
  src/styles/base.css
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(ui/chat): mobile-first chat shell with autogrow composer, stop button, accessible model sheet and light virtual list
  src/ui2/ChatApp.tsx
  src/ui2/CodeBlock.tsx
  src/ui2/VirtualMessageList.tsx
  src/ui2/segment.ts
  src/ui2/types.ts
  src/ui2/useClipboard.ts
Owners: @owner

feat(ui/chat): mobile-first chat shell with autogrow composer, stop button, accessible model sheet and light virtual list
  src/ui2/ChatApp.tsx
  src/ui2/CodeBlock.tsx
  src/ui2/VirtualMessageList.tsx
  src/ui2/segment.ts
  src/ui2/types.ts
  src/ui2/useClipboard.ts
Owners: @owner

refactor(app): mount new ChatApp and base styles
  src/App.tsx
  src/main.tsx
Owners: @owner

refactor(app): mount new ChatApp and base styles
  src/App.tsx
  src/main.tsx
Owners: @owner

ci(test): add LH budgets (perf/a11y/CLS/TBT) and Playwright smoke for send/model-sheet flow
  lighthouserc.cjs
  tests/chat.spec.ts
Owners: @owner, @qa-reviewer

ci(test): add LH budgets (perf/a11y/CLS/TBT) and Playwright smoke for send/model-sheet flow
  lighthouserc.cjs
  tests/chat.spec.ts
Owners: @owner, @qa-reviewer

feat(settings): lesbare Rollen & Stile via Accordion + BottomSheet, Suche, Deep-Links; sticky Bottom-Nav + safe-area padding
  src/components/NavBar.tsx
  src/components/ui/Accordion.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/ui2/SettingsView.tsx
  src/ui2/data/roles.ts
  src/ui2/data/styles.ts
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

feat(settings): lesbare Rollen & Stile via Accordion + BottomSheet, Suche, Deep-Links; sticky Bottom-Nav + safe-area padding
  src/components/NavBar.tsx
  src/components/ui/Accordion.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/ui2/SettingsView.tsx
  src/ui2/data/roles.ts
  src/ui2/data/styles.ts
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

fix(lint): auto-sort imports
  src/App.tsx
  src/components/ui/Accordion.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/styles/base.css
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

fix(lint): auto-sort imports
  src/App.tsx
  src/components/ui/Accordion.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/Card.tsx
  src/styles/base.css
  src/ui2/SettingsView.tsx
Owners: @owner, @ux-reviewer

fix(test): move Playwright test to correct e2e directory
  tests/e2e/chat.spec.ts
Owners: @owner, @qa-reviewer

fix(test): move Playwright test to correct e2e directory
  tests/e2e/chat.spec.ts
Owners: @owner, @qa-reviewer

fix(test): move Playwright test to correct e2e directory
  tests/e2e/chat.spec.ts
Owners: @owner, @qa-reviewer

fix(test): move Playwright test to correct e2e directory
  tests/e2e/chat.spec.ts
Owners: @owner, @qa-reviewer

chore: remove duplicate chat.spec.ts file after merge
  tests/chat.spec.ts
Owners: @owner, @qa-reviewer

chore: remove duplicate chat.spec.ts file after merge
  tests/chat.spec.ts
Owners: @owner, @qa-reviewer

fix(build): resolve Tailwind CSS import and TypeScript export issues
  src/components/ui/Accordion.tsx
  src/styles/base.css
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

fix(build): resolve Tailwind CSS import and TypeScript export issues
  src/components/ui/Accordion.tsx
  src/styles/base.css
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner, @ux-reviewer

fix(a11y+e2e): resolve accessibility violations and test selector issues
  src/components/NavBar.tsx
  src/styles/base.css
  src/ui2/ChatApp.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

fix(a11y+e2e): resolve accessibility violations and test selector issues
  src/components/NavBar.tsx
  src/styles/base.css
  src/ui2/ChatApp.tsx
  src/ui2/VirtualMessageList.tsx
Owners: @owner, @ux-reviewer

fix(node+e2e): update Node.js to 20.19+ and fix E2E test selectors
  .github/workflows/ci.yml
  .nvmrc
  src/ui2/ChatApp.tsx
  src/ui2/VirtualMessageList.tsx
  tests/e2e/autoscroll_anchor.spec.ts
Owners: @owner, @docs-reviewer, @qa-reviewer

fix(node+e2e): update Node.js to 20.19+ and fix E2E test selectors
  .github/workflows/ci.yml
  .nvmrc
  src/ui2/ChatApp.tsx
  src/ui2/VirtualMessageList.tsx
  tests/e2e/autoscroll_anchor.spec.ts
Owners: @owner, @docs-reviewer, @qa-reviewer

fix(test): resolve E2E test failures in autoscroll and streaming tests
  src/ui2/ChatApp.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @qa-reviewer

fix(test): resolve E2E test failures in autoscroll and streaming tests
  src/ui2/ChatApp.tsx
  tests/e2e/autoscroll_anchor.spec.ts
  tests/e2e/streaming_sends_once.spec.ts
Owners: @owner, @qa-reviewer

feat(ui): comprehensive UI restoration with full settings functionality
  src/main.tsx
  src/ui2/SettingsView.tsx
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner

feat(ui): comprehensive UI restoration with full settings functionality
  src/main.tsx
  src/ui2/SettingsView.tsx
  src/ui2/settings/SettingsRoles.tsx
  src/ui2/settings/SettingsStyle.tsx
Owners: @owner

fix(composer): resolve JSX syntax errors and lint warnings
  .claude/settings.json
  GEMINI.md
  src/components/NavBar.tsx
  src/components/chat/Composer.tsx
  src/components/ui/CopyButton.tsx
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  src/ui2/types.ts
Owners: @owner, @ux-reviewer

fix(composer): resolve JSX syntax errors and lint warnings
  .claude/settings.json
  GEMINI.md
  src/components/NavBar.tsx
  src/components/chat/Composer.tsx
  src/components/ui/CopyButton.tsx
  src/ui2/ChatApp.tsx
  src/ui2/SettingsView.tsx
  src/ui2/types.ts
Owners: @owner, @ux-reviewer

fix(e2e): resolve test failures and implement offline-first testing
  src/components/chat/Composer.tsx
  src/ui2/ChatApp.tsx
  tests/e2e/chat.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/streaming_sends_once.spec.ts
  tests/e2e/visual_snapshots.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(e2e): resolve test failures and implement offline-first testing
  src/components/chat/Composer.tsx
  src/ui2/ChatApp.tsx
  tests/e2e/chat.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/streaming_sends_once.spec.ts
  tests/e2e/visual_snapshots.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/model-picker-empty-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(navigation): restore missing navigation with all three pages functional
  src/App.tsx
  src/components/NavBar.tsx
Owners: @owner, @ux-reviewer

fix(navigation): restore missing navigation with all three pages functional
  src/App.tsx
  src/components/NavBar.tsx
Owners: @owner, @ux-reviewer

fix(ui): restore original Settings and Models views with full functionality
  src/App.tsx
  src/ui2/SettingsView.tsx
Owners: @owner

fix(ui): restore original Settings and Models views with full functionality
  src/App.tsx
  src/ui2/SettingsView.tsx
Owners: @owner

feat(pwa): enable PWA installation functionality
  index.html
  public/manifest.webmanifest
  src/main.tsx
Owners: @owner, @security-reviewer
