Repository daydaylx/Disa_Ai, changes with the owners that CODEOWNERS names for each.
All owners: @owner, @security-reviewer, @backend-reviewer, @devops-reviewer, @qa-reviewer, @docs-reviewer, @ux-reviewer, @performance-reviewer, @mobile-reviewer

CODEOWNERS:

# CODEOWNERS file for Disa AI
# This file defines code ownership and review requirements

# Global fallback - require at least one review
* @owner

# Core library and utilities - requires careful review
/src/lib/ @owner @security-reviewer
/src/utils/ @owner

# Security-critical files - require security review
/public/_headers @owner @security-reviewer
/src/lib/errors/ @owner @security-reviewer
/src/api/ @owner @security-reviewer

# Authentication and API integration
/src/services/ @owner @backend-reviewer

# Build and deployment configuration
/vite.config.ts @owner @devops-reviewer
/package.json @owner @devops-reviewer
/package-lock.json @owner @devops-reviewer
/.github/workflows/ @owner @devops-reviewer
/public/_headers @owner @devops-reviewer @security-reviewer

# E2E tests and quality assurance
/tests/ @owner @qa-reviewer
/e2e/ @owner @qa-reviewer
/playwright.config.ts @owner @qa-reviewer

# Documentation and developer experience
/README.md @owner @docs-reviewer
/CLAUDE.md @owner @docs-reviewer
/docs/ @owner @docs-reviewer
/.github/ @owner @docs-reviewer

# UI and accessibility - require UX review
/src/components/ @owner @ux-reviewer
/src/styles/ @owner @ux-reviewer
/src/views/ @owner @ux-reviewer

# Performance and monitoring
/src/lib/performance/ @owner @performance-reviewer

# Mobile-specific code
/src/lib/touch/ @owner @mobile-reviewer

# Critical configuration files
/eslint.config.mjs @owner
/tsconfig.json @owner
/tailwind.config.ts @owner
/renovate.json @owner @devops-reviewer

# Security and compliance
/public/offline.html @security-reviewer
/public/manifest.webmanifest @security-reviewer

# Example team assignments (replace with actual GitHub usernames):
# @owner - Primary maintainer
# @security-reviewer - Security specialist  
# @backend-reviewer - Backend/API specialist
# @devops-reviewer - DevOps/Infrastructure specialist
# @qa-reviewer - Quality assurance specialist
# @docs-reviewer - Documentation specialist
# @ux-reviewer - UX/Accessibility specialist
# @performance-reviewer - Performance specialist
# @mobile-reviewer - Mobile specialist

ci(playwright): webServer+baseURL; GH Actions für Node 20/22, Build+E2E+Artefakte
  .github/workflows/ci.yml
  playwright.config.ts
Owners: @owner, @docs-reviewer, @qa-reviewer

fix(main): no-floating-promises gelöst; saubere Debug-Route ohne Doppel-Root
  .eslintrc.override.playwright.json
  .github/workflows/lighthouse.yml
  lighthouserc.cjs
  package-lock.json
  package.json
  playwright.config.ts
  src/lib/perf/throttle-viewport-events.ts
  src/main.tsx
  src/routes/Debug.tsx
Owners: @owner, @docs-reviewer, @devops-reviewer, @qa-reviewer, @security-reviewer

fix(main): no-floating-promises gelöst; saubere Debug-Route ohne Doppel-Root
  .eslintrc.override.playwright.json
  .github/workflows/lighthouse.yml
  lighthouserc.cjs
  package-lock.json
  package.json
  playwright.config.ts
  src/lib/perf/throttle-viewport-events.ts
  src/main.tsx
  src/routes/Debug.tsx
Owners: @owner, @docs-reviewer, @devops-reviewer, @qa-reviewer, @security-reviewer

fix(build): fehlende src/styles/index.css als Aggregator (Tailwind + UX-Fixes) chore(test): kein doppelter Preview; Port-Konflikt-Aufräumen
  public/sw.js
  src/lib/pwa/install.ts
  src/lib/ui/copy-bubble.ts
  src/main.tsx
  src/styles/chat-bubbles.css
  src/styles/index.css
Owners: @owner, @security-reviewer, @ux-reviewer

fix(build): fehlende src/styles/index.css als Aggregator (Tailwind + UX-Fixes) chore(test): kein doppelter Preview; Port-Konflikt-Aufräumen
  public/sw.js
  src/lib/pwa/install.ts
  src/lib/ui/copy-bubble.ts
  src/main.tsx
  src/styles/chat-bubbles.css
  src/styles/index.css
Owners: @owner, @security-reviewer, @ux-reviewer

fix(css): entferne @import aus index.css; binde bubble/perf CSS in main.tsx ci(lhci): mobiles Formfaktor-Setup ohne ungültiges preset; ready pattern für Vite
  lighthouserc.cjs
  src/main.tsx
  src/styles/index.css
Owners: @owner, @ux-reviewer

fix(css): entferne @import aus index.css; binde bubble/perf CSS in main.tsx ci(lhci): mobiles Formfaktor-Setup ohne ungültiges preset; ready pattern für Vite
  lighthouserc.cjs
  src/main.tsx
  src/styles/index.css
Owners: @owner, @ux-reviewer

security(webVitals): replace Math.random() with crypto.getRandomValues()
  src/lib/performance/webVitals.ts
Owners: @owner, @performance-reviewer

security(webVitals): replace Math.random() with crypto.getRandomValues()
  src/lib/performance/webVitals.ts
Owners: @owner, @performance-reviewer

hotfix
  src/App.tsx
  src/components/Aurora.tsx
  src/components/effects/PremiumEffects.tsx
  src/components/layout/BottomNav.tsx
  src/lib/sound/audio-feedback.ts
  src/main.tsx
  src/styles/enhanced-effects.css
  src/styles/premium-effects.css
  src/views/QuickStartView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

hotfix
  src/App.tsx
  src/components/Aurora.tsx
  src/components/effects/PremiumEffects.tsx
  src/components/layout/BottomNav.tsx
  src/lib/sound/audio-feedback.ts
  src/main.tsx
  src/styles/enhanced-effects.css
  src/styles/premium-effects.css
  src/views/QuickStartView.tsx
Owners: @owner, @ux-reviewer, @security-reviewer

feat: comprehensive system optimization & enhancement
  build/vite-remove-console.ts
  package-lock.json
  package.json
  src/components/effects/PremiumEffects.tsx
  src/lib/mobile/progressive-enhancement.ts
  src/lib/performance/power-manager.ts
  src/lib/storage/quota-manager.ts
  src/lib/utils/production-logger.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
  vite.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @security-reviewer, @performance-reviewer

feat: comprehensive system optimization & enhancement
  build/vite-remove-console.ts
  package-lock.json
  package.json
  src/components/effects/PremiumEffects.tsx
  src/lib/mobile/progressive-enhancement.ts
  src/lib/performance/power-manager.ts
  src/lib/storage/quota-manager.ts
  src/lib/utils/production-logger.ts
  src/views/ChatView.tsx
  src/views/SettingsView.tsx
  vite.config.ts
Owners: @owner, @devops-reviewer, @ux-reviewer, @security-reviewer, @performance-reviewer

feat(design): implement comprehensive design system overhaul
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/ui/Button.tsx
  src/main.tsx
  src/styles/chat.css
  src/styles/globals.css
  tailwind.config.ts
Owners: @owner, @ux-reviewer

feat(design): implement comprehensive design system overhaul
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/components/ui/Button.tsx
  src/main.tsx
  src/styles/chat.css
  src/styles/globals.css
  tailwind.config.ts
Owners: @owner, @ux-reviewer

fix(deps): update @vitejs/plugin-react for vite 7.x compatibility
  package-lock.json
Owners: @owner, @devops-reviewer

fix(deps): update @vitejs/plugin-react for vite 7.x compatibility
  package-lock.json
Owners: @owner, @devops-reviewer

fix(syntax): resolve JSX syntax errors and missing imports
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
Owners: @owner, @ux-reviewer

fix(syntax): resolve JSX syntax errors and missing imports
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
Owners: @owner, @ux-reviewer

feat(mobile): umfassende Android-Optimierungen für professionelle UX
  index.html
  public/manifest.webmanifest
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/styles/mobile.css
Owners: @owner, @security-reviewer, @ux-reviewer

feat(mobile): umfassende Android-Optimierungen für professionelle UX
  index.html
  public/manifest.webmanifest
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/chat/MessageList.tsx
  src/styles/mobile.css
Owners: @owner, @security-reviewer, @ux-reviewer

feat(android): comprehensive mobile UX optimization for professional Android experience
  public/manifest.webmanifest
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/layout/BottomNav.tsx
  src/lib/android/system.ts
  src/styles/mobile.css
Owners: @security-reviewer, @owner, @ux-reviewer

feat(android): comprehensive mobile UX optimization for professional Android experience
  public/manifest.webmanifest
  src/App.tsx
  src/components/chat/Composer.tsx
  src/components/layout/BottomNav.tsx
  src/lib/android/system.ts
  src/styles/mobile.css
Owners: @security-reviewer, @owner, @ux-reviewer

docs(readme): update documentation for Android-optimized mobile experience
  README.md
Owners: @owner, @docs-reviewer

docs(readme): update documentation for Android-optimized mobile experience
  README.md
Owners: @owner, @docs-reviewer

fix(copy): harden clipboard fallback and restore tests
  src/components/ui/CopyButton.tsx
  src/components/ui/HeroOrb.tsx
  tests/unit/copyButton.test.tsx
  vitest.config.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(copy): harden clipboard fallback and restore tests
  src/components/ui/CopyButton.tsx
  src/components/ui/HeroOrb.tsx
  tests/unit/copyButton.test.tsx
  vitest.config.ts
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(build): remove stale neon chunk reference
  vite.config.ts
Owners: @owner, @devops-reviewer

fix(build): remove stale neon chunk reference
  vite.config.ts
Owners: @owner, @devops-reviewer

fix
  AGENTS.md
  ANALYSIS.md
  CHANGELOG.md
  CLEANUP_CANDIDATES.md
  CONFIG_AUDIT.md
  CONTRIBUTING.md
  DEPENDENCIES.md
  DEPLOYMENT_READINESS.md
  GEMINI.md
  REFACTOR_PLAN.md
  UX_FINDINGS.md
Owners: @owner

fix
  AGENTS.md
  ANALYSIS.md
  CHANGELOG.md
  CLEANUP_CANDIDATES.md
  CONFIG_AUDIT.md
  CONTRIBUTING.md
  DEPENDENCIES.md
  DEPLOYMENT_READINESS.md
  GEMINI.md
  REFACTOR_PLAN.md
  UX_FINDINGS.md
Owners: @owner

fix(ci): resolve failing GitHub Actions checks
  src/components/layout/BottomNav.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-error-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/quickstart-empty-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-dark-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-light-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(ci): resolve failing GitHub Actions checks
  src/components/layout/BottomNav.tsx
  src/views/ChatView.tsx
  src/views/ChatsView.tsx
  src/views/QuickStartView.tsx
  tests/e2e/a11y.spec.ts
  tests/e2e/mobile_safearea.spec.ts
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-code-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-error-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/chat-running-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/quickstart-empty-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-dark-chromium-linux.png
  tests/e2e/visual_snapshots.spec.ts-snapshots/settings-light-chromium-linux.png
Owners: @owner, @ux-reviewer, @qa-reviewer

fix(e2e): add visual snapshot threshold for CI reliability
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

fix(e2e): add visual snapshot threshold for CI reliability
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

fix(ci): temporarily skip visual snapshot tests
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

fix(ci): temporarily skip visual snapshot tests
  tests/e2e/visual_snapshots.spec.ts
Owners: @owner, @qa-reviewer

feat(tokens): implement design token system foundation
  docs/DESIGN_TOKENS.md
  eslint.config.mjs
  src/design-tokens.ts
  src/lib/android/system.ts
  src/styles/theme.css
  tailwind.config.ts
Owners: @owner, @docs-reviewer, @security-reviewer, @ux-reviewer

feat(tokens): implement design token system foundation
  docs/DESIGN_TOKENS.md
  eslint.config.mjs
  src/design-tokens.ts
  src/lib/android/system.ts
  src/styles/theme.css
  tailwind.config.ts
Owners: @owner, @docs-reviewer, @security-reviewer, @ux-reviewer

feat(design-system): complete Sprint 1 - systembasis design tokens
  src/App.tsx
  src/components/Badge.tsx
  src/components/ErrorBoundary.tsx
  src/components/ModelPicker.tsx
  src/components/chat/Avatar.tsx
  src/components/chat/Composer.tsx
  src/components/chat/Toolbar.tsx
  src/components/feedback/ErrorState.tsx
  src/components/ui/BottomSheet.tsx
  src/components/ui/CommandPalette.tsx
  src/components/ui/HeroOrb.tsx
  src/design-tokens.ts
  src/routes/Debug.tsx
  src/styles/theme.css
  src/views/ChatsView.tsx
  src/views/Diagnostics.tsx
  src/views/QuickStartView.tsx
  src/views/SettingsView.tsx
  tailwind.config.ts
Owners: @owner, @ux-reviewer
